<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>一般</string>
		<key>color</key>
		<string>F85E6B</string>
		<key>iconHighlight</key>
		<string>label_normal_h</string>
		<key>icon</key>
		<string>label_normal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>用餐</string>
		<key>color</key>
		<string>43D077</string>
		<key>iconHighlight</key>
		<string>label_yc_h</string>
		<key>icon</key>
		<string>label_yc</string>
	</dict>
    <dict>
        <key>name</key>
        <string>饮料</string>
        <key>color</key>
        <string>3BABE5</string>
        <key>iconHighlight</key>
        <string>label_drink_h</string>
        <key>icon</key>
        <string>label_drink</string>
    </dict>
    <dict>
        <key>name</key>
        <string>交通</string>
        <key>color</key>
        <string>CB70E5</string>
        <key>iconHighlight</key>
        <string>label_jt_h</string>
        <key>icon</key>
        <string>label_jt</string>
    </dict>
    <dict>
        <key>name</key>
        <string>住宿</string>
        <key>color</key>
        <string>402E2E</string>
        <key>iconHighlight</key>
        <string>label_hotal_h</string>
        <key>icon</key>
        <string>label_hotal</string>
    </dict>
    <dict>
        <key>name</key>
        <string>购物</string>
        <key>color</key>
        <string>F75E6B</string>
        <key>iconHighlight</key>
        <string>label_shopping_h</string>
        <key>icon</key>
        <string>label_shopping</string>
    </dict>
    <dict>
        <key>name</key>
        <string>票证</string>
        <key>color</key>
        <string>FAB450</string>
        <key>iconHighlight</key>
        <string>label_pw_h</string>
        <key>icon</key>
        <string>label_pw</string>
    </dict>
    <dict>
        <key>name</key>
        <string>礼物</string>
        <key>color</key>
        <string>4AF2A1</string>
        <key>iconHighlight</key>
        <string>label_gift_h</string>
        <key>icon</key>
        <string>label_gift</string>
    </dict>
    <dict>
        <key>name</key>
        <string>酒水</string>
        <key>color</key>
        <string>5CC9F5</string>
        <key>iconHighlight</key>
        <string>label_gift_h</string>
        <key>icon</key>
        <string>label_gift</string>
    </dict>
    <dict>
        <key>name</key>
        <string>娱乐</string>
        <key>color</key>
        <string>F78AE0</string>
        <key>iconHighlight</key>
        <string>label_yule_h</string>
        <key>icon</key>
        <string>label_yule</string>
    </dict>
    <dict>
        <key>name</key>
        <string>电影</string>
        <key>color</key>
        <string>6638F0</string>
        <key>iconHighlight</key>
        <string>label_movie_h</string>
        <key>icon</key>
        <string>label_movie</string>
    </dict>
    <dict>
        <key>name</key>
        <string>医疗</string>
        <key>color</key>
        <string>FAB450</string>
        <key>iconHighlight</key>
        <string>label_movie_h</string>
        <key>icon</key>
        <string>label_movie</string>
    </dict>
    <dict>
        <key>name</key>
        <string>图书</string>
        <key>color</key>
        <string>FAB450</string>
        <key>iconHighlight</key>
        <string>label_movie_h</string>
        <key>icon</key>
        <string>label_movie</string>
    </dict>
</array>
</plist>
